---
title: Virtus Rail
layout: layout
---
.container
  .row
    .span6
      .text
        Virtus Rail es una empresa enfocada en el desarrollo de software y hardware para el sector ferroviario con más de 15 años de experiencia en este sector.<br/>
        <br/>
        Nos dedicamos a la implantación, capacitación y soporte técnico de nuestros sistemas y al análisis de nuevos sistemas que faciliten la operación del ferrocarril.<br/>
        <br/>
        Así mismo, también nos encargamos del desarrollo de nueva funcionalidad para nuestros sistemas e interfaces con otros sistemas administrativos y de operación. 

        <br/>
        Virtus Rail es una división más de 
        %a{:href =>  "http://www.virtus.com.mx", :target => "_blank"}   
          %img{:src => "/images/VirtusGroup.jpg", :alt => "xHosp"}
        nos especializamos en ofrecer soluciones a los problemas de su negocio mediante la adecuada aplicacion de la tecnología de información.<br/>
    
        
        
  
    .span5.offset1
      <br/>
      #myCarousel.carousel.slide
        .carousel-inner
          .item.active
            = image_tag "/images/93224047.jpg"
            .carousel-caption
              %h4 xHosp
              %p Sistema integral para la administración hospitalaria.
          .item
            = image_tag "/images/156255880.jpg"
            .carousel-caption
              %h4 xHosp
              %p Sistema integral para la administración hospitalaria.
          .item
            = image_tag "/images/156279716.jpg"
            .carousel-caption
              %h4 xHosp
              %p Sistema integral para la administración hospitalaria.   
          .item
            = image_tag "/images/156352973.jpg"
            .carousel-caption
              %h4 xLab
              %p Sistema para el control y operación de laboratorios clínicos
          .item
            = image_tag "/images/ETSAutorizacionThumb.jpg"
            .carousel-caption
              %h4 xLab
              %p Sistema para el control y operación de laboratorios clínicos
          .item
            = image_tag "/images/156384424.jpg"
            .carousel-caption
              %h4 xLab
              %p Sistema para el control y operación de laboratorios clínicos        
          .item
            = image_tag "/images/cct_4.jpg"
            .carousel-caption
              %h4 xRay
              %p Sistema para el control y operación de gabinetes de imagenología
          .item
            = image_tag "/images/156250872.jpg"
            .carousel-caption
              %h4 xRay
              %p Sistema para el control y operación de gabinetes de imagenología
          .item
            = image_tag "/images/cct_3.jpg"
            .carousel-caption
              %h4 xRay
              %p Sistema para el control y operación de gabinetes de imagenología
         
         
        